<header class="header">
  <p class="header-text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus sit
    reiciendis deserunt, magni quas quod non. Totam laudantium iste dolore
    doloremque consectetur in, omnis id eius corporis explicabo et alias. Ab
    debitis rerum, laborum ea quod minus magni voluptatum odio quas vel cumque,
    cupiditate nisi. Enim, qui aliquam? Molestiae placeat ex iste laborum fuga
    quidem, alias dolores mollitia error consequuntur. Veniam dignissimos autem
    minima aspernatur, similique necessitatibus ut quo error beatae inventore
    sunt itaque quas nam labore non accusamus. Suscipit, facere! Quia, libero
    distinctio! Fugiat recusandae fugit eveniet adipisci expedita! Delectus
    corporis totam quaerat amet reprehenderit cumque eaque? Recusandae
    blanditiis minima quos facilis assumenda inventore culpa, sit neque odit
    amet officia autem vitae, quis quidem beatae cupiditate sed? Iure, totam!
    Voluptatibus molestiae veritatis eum, ut in repellendus magnam, architecto
    quas neque perspiciatis porro saepe? Eos dicta, earum laboriosam minus natus
    atque sint, corrupti libero nostrum dolores ducimus, quibusdam porro
    voluptatem! Eos, perferendis maiores, quia corrupti fugit sunt assumenda
    illum minima sapiente commodi consectetur iste. Culpa in numquam ut nobis
    sint placeat quas odio consequatur accusamus eos? Deserunt ex adipisci
    laudantium. Accusamus, velit voluptate eum tempora praesentium omnis aliquid
    quasi consectetur nisi, deserunt porro odit? Perspiciatis nesciunt iste
    doloribus vel doloremque a incidunt autem similique. Nisi fuga modi rerum
    provident facere? Tempora amet modi minima sint, molestias numquam enim
    vero, quis consequuntur consequatur dolorum. Modi, odio voluptate incidunt
    laboriosam aperiam, harum vero nesciunt illo omnis ad nobis? Iusto explicabo
    repellat earum! Nisi delectus eum ut rem quia cupiditate, amet velit a
    corporis sint quaerat aspernatur dolorum magni nulla vitae adipisci quo
    rerum sapiente voluptatem quae quos itaque iste consequatur! Molestiae,
    tempora. Similique quaerat rerum eaque cupiditate sit expedita labore soluta
    tempore, magni deleniti placeat obcaecati, quae aliquam dolorum ipsam,
    minima repellendus. Esse nesciunt reiciendis velit culpa perspiciatis quasi
    quam et maxime.
  </p>
</header>
